$font: "Fredoka One";
$red: #a4031f;
$purple: #240b36;
$yellow: #f2dc5d;
$gray: #565554;
$blue: #003d5b;
$normal: #a8a77a;
$fire: #ee8130;
$water: #6390f0;
$electric: #f7d02c;
$grass: #7ac74c;
$ice: #96d9d6;
$fighting: #c22e28;
$poison: #a33ea1;
$ground: #e2bf65;
$flying: #a98ff3;
$psychic: #f95587;
$bug: #a6b91a;
$rock: #b6a136;
$ghost: #735797;
$dragon: #6f35fc;
$dark: #705746;
$steel: #b7b7ce;
$fairy: #d685ad;

%text-style {
  font-family: $font;
  font-weight: 300;
  color: rgba(22, 22, 22, 0.979);
  letter-spacing: 1px;
}

.Profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: $yellow;
  min-height: calc(100% - 100px);
  max-width: 100%;
  // height: calc(100vh - 100px);
  // height: calc(100% - 100px);
  // overflow: auto;
  > .my-profile-link > .edit-button {
    color: white;
    background: $normal;
    border: none;
    height: 45px;
    border-radius: 25px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: sans-serif;
    font-size: 20px;
    transition: 500ms;
    margin: 15px;
    border: rgba(0, 0, 0, 0.178) solid 1px;
  }
  > .my-profile-link > .edit-button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px $normal;
    transition: 500ms;
  }
  > .username {
    @extend %text-style;
  }
  > .my-pokemon {
    @extend %text-style;
  }
  > .pokemon-inventory {
    @extend %text-style;
    font-weight: 1000;
  }
  > .profile-pic-container {
    > .profile-pic {
      max-height: 500px;
      max-width: 100%;
      border: black solid 2px;
      border-radius: 50%;
    }
  }
}
%input-share {
  height: 50px;
  width: 200px;
  font-size: 20px;
  border: none;
  border-radius: 25px;
  padding: 15px;
  margin: 25px;
  border: rgba(0, 0, 0, 0.178) solid 1px;
  transition: 500ms;
}

input[type="number"]:-webkit-inner-spin-button,
input[type="number"]:-webkit-outer-spin-button {
  background: orange;
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.donation-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font;
  > .dollar {
    font-size: 3.1rem;
    font-weight: 500;
    color: $grass;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $purple;
  }
  > .donation-input {
    @extend %input-share;
    margin-left: 5px;
  }
}

.donate-here {
  text-align: center;
  @extend %text-style;
}

.pokemon-inventory {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  > .pokemon-container {
    // margin: 10px;
    // margin-left: 10px;
    // margin-right: 10px;
    text-align: center;
    > .pokemon-image {
      border: black solid 1px;
      border-radius: 25px;
      min-width: 128px;
      max-width: 128px;
      margin: 10px;
      // margin-left: 11px;
      // margin-right: 11px;
    }
    > .favorite-image {
      min-width: 128px;
    }
    > .steel {
      background: $steel;
    }
    > .dark {
      background: $dark;
    }
    > .ghost {
      background: $ghost;
    }
    > .rock {
      background: $rock;
    }
    > .bug {
      background: $bug;
    }
    > .psychic {
      background: $psychic;
    }
    > .flying {
      background: $flying;
    }
    > .ground {
      background: $ground;
    }
    > .poison {
      background: $poison;
    }
    > .fighting {
      background: $fighting;
    }
    > .ice {
      background: $ice;
    }
    > .grass {
      background: $grass;
    }
    > .dragon {
      background: $dragon;
    }
    > .water {
      background: $water;
    }
    > .electric {
      background: $electric;
    }
    > .fire {
      background: $fire;
    }
    > .normal {
      background: $normal;
    }
    > .fairy {
      background: $fairy;
    }
  }
}
