* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // width: 100vw;
}
.App {
  height: 100vh;
  width: 100%;
}
// @import url("https://fonts.googleapis.com/css?family=Bangers&display=swap");
// @import url("https://fonts.googleapis.com/css?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fredoka+One&display=swap");
@import "./Components//Nav/Nav";
@import "./Components/Landing/Landing";
@import "./Components/Register/Register";
@import "./Components//Dashboard/Dashboard";
@import "./Components/MyProfile/MyProfile";
@import "./Components//Pokemon/Pokemon";
